*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}

.container{
    min-width: 1000px;
    margin-bottom: 200px;
}


.inner{
    height: 80px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color:#404eed;
}


nav .inner ul{
    list-style-type: none;
}

.logo{
    width: 100px;
    height: 70px;
    padding-top: 18px;
}

.links a{
    color: white;
    text-decoration: none;
}

.links ul{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 27px;
}

.login{
    width: 70px;
    height: 35px;
    text-align: center;
    padding-top: 7px;

    border-radius: 35px;


    background-color: rgb(255, 255, 255);
}

.inner2{
    padding-top: 120px;
    height: 650px;
    width: 100%;

    display: flex;
    flex-direction: column;

    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.Title{
    font-size: 23px;
    color: white;
}

.paragraph{
    color: white;
    text-align: center;

    width: 700px;
    font-size: 20px;
    line-height: 1.5em;
}

.links2 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 27px;
}

.whitebutton{
    background-color: white;
    padding: 15px;
    border-radius: 25px;
}

.blackbutton{
    background-color: #23272a;
    padding: 15px;
    border-radius: 25px;
    color: white;
}

.inner3{
    height: 650px;
    width: 100%;

    display: flex;
}

.inner3-5{
    height: 650px;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;

     background-color: #f6f6f6;
}

.big-img{
    width: 5%;
    height: 300px;
}

.big-img2{
    height: 300px;
}


.text-sec{
    width: 20%;
    height: 375px;
    padding-top: 30px;
}

.text-sec2{
    width: 20%;
    height: 375px;
    padding-top: 30px;
    padding-left: ;
}

.Title2{
    font-size: 50px;
    margin-bottom: 30px;
}

.paragraph2{
    font-size: 20px;
    line-height: 1.5em;
}

.inner4{
    display: flex;
    height: 650px;
    flex-direction: column;
    width: 100%;
    background-color: #f6f6f6;
}


.inner5{
    padding-top: 120px;
    height: 500px;
    width: 100%;

    display: flex;
    flex-direction: row;

    background-color:#23272a
}

.inner6{
    padding-top: 120px;
    height: 650px;
    width: 100%;

    display: flex;
    flex-direction: column;
    background-color: #f6f6f6
}

.cyanbutton{
    background-color: #404eed;
    padding: 15px;
    border-radius: 25px;
    color: white;
}

.Title3{
    text-align: center;
    font-size: 50px;
}

.Title4{
 background-image: url(../img/stars.svg);
 background-repeat: no-repeat;
 background-size: contain;
}

ul{
    list-style-type: none;
}

h3{
    color: #404eed;
}

.bottominner{
    height: 80px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color:#23272a
}

.login2{
    width: 70px;
    height: 35px;
    text-align: center;
    padding-top: 7px;

    border-radius: 35px;


    background-color:#404eed
}







